@import 'normalize'
@import 'jeet'

body
  margin
  font 12px Helvetica, Arial, sans-serif

header
  height 60px;
  background-color #232429;
  h1
    color #78b63d
    line-height 60px
    margin 0

sidebar
  col(2/12, gutter: 0)
  height 100%
  display none

  &.left
    background-color #2f313c

  &.right
    background-color #d5dadd

  @media only screen and (min-width: 640px)
    display block

  .badges
    position absolute;
    bottom 0

x-app
  margin-top 20px;
  @media only screen and (min-width: 640px)
    col(8/12, gutter: 0)

x-taskloop, x-latesttasks
  cf()
  display block

x-taskloop
  overflow hidden
  position relative

x-task
  cf()
  display block
  border-top 1px solid #000
  position relative
  &:last-child
    border-bottom 1px solid #000

  div
    col(3/5 8/12, gutter: 0)
    div.event
      width: 20px
      position absolute
      top 0
      bottom 0
      left 0
    div.text-box
      margin-left 30px

  div.avatar-container
    col(1/5 8/12, gutter: 0)
  h3
    col(1/5 8/12, gutter: 0)
    position absolute
    bottom 0
    right 0
