@import 'normalize'
@import 'jeet'

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

img
  max-width 100%

body
  font-family 'Cabin Condensed', Arial, sans-serif
  font-size  12px

header
  height 60px
  background-color #232429
  h1
    text-transform uppercase
    text-indent -9999
    background url("../img/logo-widget.png") no-repeat 0 14px
    color #78b63d
    line-height 60px
    margin 0 0 0 70px
  img.logo
    margin 18px 0 0 18px
    width 60%

sidebar
  col(2/12, gutter: 0)
  height calc(100% - 60px)
  display none

  &.left
    background-color #2f313c

  &.right
    background-color #d5dadd
    
  img
    border-radius(5px)

  @media only screen and (min-width: 640px)
    display block

  .badges
    position absolute;
    bottom 0

x-app
  @media only screen and (min-width: 640px)
    col(8/12, gutter: 0)

x-taskloop, x-latesttasks
  cf()
  display block

x-latesttasks
  x-streamitem
    padding 10px 0

x-taskloop
  overflow hidden
  position relative
  x-streamitem
    height 100%

x-streamitem
  cf()
  display block
  border-top 1px solid #000
  position relative
  &:last-child
    border-bottom 1px solid #000

  div
    col(3/5 8/12, gutter: 0)
    div.event
      width: 20px
      position absolute
      top 0
      bottom 0
      left 0
    div.text-box
      margin-left 30px
      h2
        color #76b729
        margin 10px 0 0 0
      p
        font-size 14px
        margin 0 0 10px 0

  div.avatar-container
    col(1/5 8/12, gutter: 0)
    img
      border-radius(5px)
  h3
    col(1/5 8/12, gutter: 0)
    position absolute
    font-size 9px
    bottom 0
    right 10px
    text-align right

x-usertask
  cf()
  display block
  background-color #30323d
  height 200px
  h2
    color #78b63d


#btnflame
  background-image url("../img/btn-problem.png")
  width 45px
  height 45px

#btnunflame
  background-image url("../img/btn-problem-enabled.png")
  width 45px
  height 45px

#btncheckin
  background-image url("../img/btn-checkin.png")
  width 49px
  height 46px

#btncheckout
  background-image url("../img/btn-checkout.png")
  width 51px
  height 45px

#btnadd, #btnmenu, #btnsearch
  margin 12px 10px 0 0
  background url("../img/btn-addtask.png") no-repeat
  width 37px
  height 37px

#btnflame, #btncheckin, #btncheckout, #btnunflame, #btnadd, #btnmenu, #btnsearch
  border none
  background-color transparent
  float right

#btnmenu
  margin 12px 0 0 10px
  background url("../img/btn-menue.png") no-repeat
  float left

#btnsearch
  background url("../img/btn-suche.png") no-repeat

#btnflame, #btncheckin, #btncheckout, #btnunflame
  display none

x-searchmodal
  cf()
  display block
  background-color #30323d
  position absolute
  top 60px
  width 100%
  border-bottom 1px solid #000