@import 'normalize'
@import 'jeet'

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

img
  max-width 100%

body
  font-family 'Cabin Condensed', Arial, sans-serif
  font-size  12px

header
  height 60px
  background-color #232429
  h1
    text-transform uppercase
    text-indent -9999
    background url("../img/logo-widget.png") no-repeat 0 14px
    color #78b63d
    line-height 60px
    margin 0 0 0 70px
    @media only screen and (min-width: 640px)
      margin 0 0 0 20px
  .search
    border none
    border-radius(5px)
    col(1/6)
    float right
    margin 20px 20px 0 0
    font-size 20px
    background #78b63d url("../img/lupe.png") no-repeat 2px 3px
    background-size 20px 20px

  img.logo
    margin 18px 0 0 18px
    width 60%

sidebar
  col(2/12, gutter: 0)
  height calc(100% - 60px)
  display none

  &.left
    background-color #2f313c
    
    .wall
      h2
        color #78b63d
        margin 10px 0 0 20px
        text-transform uppercase

    .company
      margin-top 30px
      border-left 5px solid #78b63d
      
      h2
        margin 5px 0 0 0

      p
        margin 2px 0 5px 0
        
    .division
      margin 10px 20px 10px 15px
      border-top 1px solid #666666
      
      h3
        color #78b63d
        margin 10px 0 0 30px
        font-size 12px
        
      p
        color #ffffff
        margin 0 0 0 30px

  &.right
    background-color #d5dadd
    
    div
      position relative
      top 15px
      left -5px
      font-size 50px
      color: #666666

      .taskCounter
        position absolute
        top 0%
        left 16%
        font-size 38px
        color: #666666

  img
    border-radius(5px)
    margin-left 15px
    margin-top 15px

  @media only screen and (min-width: 640px)
    display block

  .badges
    position absolute;
    bottom 0
    padding-left 15px 
  .badges h2
      font-weight normal
      color #76b729
 

x-app
  @media only screen and (min-width: 640px)
    col(8/12, gutter: 0)

.x-app h2
  padding-left 20px
  
.x-app h2.latestEvents
  padding-left 30px

x-taskloop, x-latesttasks
  cf()
  display block

x-latesttasks
  x-streamitem
    padding 10px 0

x-taskloop
  overflow hidden
  position relative
  margin-top -1px
  x-streamitem
    height 100%

x-streamitem, x-task
  cf()
  display block
  position relative
  border-top 1px solid #999
  background-color #FFF

  >div
    col(3/5 8/12, gutter: 0)
    div.event
      width: 20px
      position absolute
      top 0
      bottom 0
      left 0
    div.text-box
      margin-left 30px
      h2
        color #76b729
        margin 10px -20 0
      p
        font-size 14px
        margin 0 0 10px 0
  div.avatar-container
    col(1/5 8/12, gutter: 0)
    img
      width 55px
      height 55px
      border-radius(5px)
      margin 20px 5px 0 0
  h3
    col(1/5 8/12, gutter: 0)
    position absolute
    font-size 13px
    bottom 10px
    right 10px
    text-align right

div.company
  padding-left 15px
  h2
    font-weight normal
    color #76b729
  p
    color #ffffff

x-app.widget x-streamitem
  position relative
  >div
    col(5/5 8/12, gutter: 0)
    h2
      margin 10px 90px 10px 0
      font-size: 13px;
    p
      font-size: 13px;
  h3
    position absolute
    top 3px
    font-size 10px
  div.avatar-container
    col(5/5 8/12, gutter: 0)
    margin-left 30px
    img
      margin-right 10px

x-usertask
  cf()
  display block
  background-color #30323d
  height 200px
  padding 0 20px
  color #FFF
  >div
    position relative
  h2
    color #78b63d
  img
    border-radius(5px)
  span
    margin-top 20px
    float right
    max-width: 80px;
    text-align: right;

#btnflame
  background-image url("../img/btn-problem.png")
  width 45px
  height 45px

#btnunflame
  background-image url("../img/btn-problem-enabled.png")
  width 45px
  height 45px

#btncheckin
  background-image url("../img/btn-checkin.png")
  width 49px
  height 46px

#btncheckout
  background-image url("../img/btn-checkout.png")
  width 51px
  height 45px

#btnadd, #btnmenu, #btnsearch
  margin 12px 10px 0 0
  background url("../img/btn-addtask.png") no-repeat
  width 37px
  height 37px

#btnflame, #btncheckin, #btncheckout, #btnunflame, #btnadd, #btnmenu, #btnsearch
  border none
  background-color transparent
  float right

#btnmenu
  margin 12px 0 0 10px
  background url("../img/btn-menue.png") no-repeat
  float left

#btnsearch
  background url("../img/btn-suche.png") no-repeat

#btnflame, #btncheckin, #btncheckout, #btnunflame
  display none
  margin-right 10px

.actions
  position absolute
  bottom 0
  right: -10px;

x-searchmodal
  cf()
  display block
  background-color #30323d
  position absolute
  top 60px
  width 100%
  border-bottom 1px solid #000
  z-index 10
  form
    margin 0
  input.searchstring
    width: 70%;
    margin: 15px 10px
    background: #78b63d no-repeat url("../img/lupe.png") 5px;
    background-size: 20px 20px;
    border: none;
    padding: 8px 30px;
    font-size: 14px
    border-radius(5px)
  input.submit
    width: 20%;
    margin-left: 7px;
    font-size 14px
    padding: 6px 0 7px 0;
    border-radius(5px)

x-task
  cf()
  display block
  padding 0 20px
  position relative
  >div
    width 100%
  a
    color #30323d
    text-decoration none
  h2
    color #78b63d
  h3
    position relative
    display block
    bottom auto
    right auto
    text-align left
    width 100%
    margin-top 0
  p
    margin 0 50px 13px 0
  #btncheckin
    display block
    position absolute
    top 50%
    right 0
    margin-top -20px

footer
  position absolute
  bottom 0
  width 100%
  height 40px
  background-color #232429